<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">
	      <context-param>
		      <param-name>
		    	 org.eclipse.jetty.servlet.Default.welcomeServlets
		      </param-name>
		      <param-value>true</param-value>
	      </context-param>
	      <welcome-file-list>
	      	<welcome-file>/login</welcome-file>
	      </welcome-file-list>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>FiltroAdmin</filter-name>
  	
  	<filter-class>ipartek.formacion.odei.Controladores.FiltroAdmin</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>FiltroAdmin</filter-name>
  	<url-pattern>/FiltroAdmin</url-pattern>
  </filter-mapping>
  <listener>
  	<listener-class>ipartek.formacion.odei.Controladores.Inicializacion</listener-class>
  </listener>
</web-app>

